.cakeIngredients{   
    position: static;
    transform: scale(75%);
    max-height: 350px;
}

.ingredientsBlock{
    background-color: #f82e93; /*поменять цвет бэкграйнда теста!*/
    max-width: 100%;
}

.ingredientsBlock p{
    text-align: center;
    text-transform: uppercase;
    color: #7a180d;
    font-family: "Montserrat", sans-serif;
    padding: 1px 26px; /*15 на 32*/
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2vw;
}

.topSide{
    position: relative;
    z-index: 1;
}

.bottomSide{
    position: relative;
    transform: scale(110%);
    z-index: 0;
    height: 100%;
    width: 100%;
}

.cakeSide{
    position: relative;
    z-index: 1;
}

.buttons{
    background-color: rgba(252, 132, 172, 0.664);
    border: none;
    width: 100%;
    color: white;
    transition-duration: 0.4s;
    padding: 10px 26px; /*15 на 32*/
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2vw;
}

.buttons:hover {
    background-color: #FFA4E7;
    color: white;
}

.button_delete{
    background-color: rgba(214, 118, 62, 0.596);
    border: none;
    width: 100%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
}

.button_delete:hover {
    background-color: #FFA4E7;
    color: white;
}

@media (min-width: 1980px) {
    .ingredientsBlock{
        transform: scale(40%);
        max-width: 60%;
    }
    .cakeIngredients{   
        transform: scale(25%);
        max-height: 350px;
    }
    .ingredientsBlock p {
        font-size: 1.8vw;
    }
    .buttons {
        font-size: 1.8vw;
        
    }
    .button_delete {
        font-size: 1.8vw;
    }
}

@media (min-width: 1025px) and (max-width: 1979px) {
    .ingredientsBlock{
        transform: scale(40%);
        max-width: 60%;
    }
    .cakeIngredients{   
        transform: scale(25%);
        max-height: 350px;
    }
    .ingredientsBlock p {
        font-size: 1.05vw;
    }
    .buttons {
        font-size: 1.05vw;
        
    }
    .button_delete {
        font-size: 1.05vw;
    }
}

@media (max-width: 1024px) {
    .ingredientsBlock{
        max-width: 80%;
    }
    .ingredientsBlock p {
        font-size: 3.5vw;
    }
    .cakeIngredients{   
        transform: scale(85%);
        max-height: 350px;
    }
    .buttons {
        font-size: 3.5vw;
    }
    .button_delete {
        font-size: 3.5vw;
    }
}