body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow:hidden;
    /*overflow-x: hidden;
    overflow-y: hidden;*/
    background: #FFA4E7 url("back.svg") repeat;
    background-size: 30% auto;
  }
  .header{
    position: fixed;
    background: url("honey.svg") repeat-x top scroll;
    height: 110px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(122, 24, 13);
    font-family: "Amatic SC", cursive;
    padding: 20px 5px;
  }