.CakeContent{
    transform: scale(40%);
    /*background: #ffefc4f6;*/
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 10px;
    margin-top: 0px;
    padding: 0 0px;
}

/*@media (max-width: 1280px) {
    .CakeContent {
        transform: scale(20%);
    }
}

@media (max-width: 1980px) {
    .CakeContent {
        transform: scale(50%);
    }
}*/