.CakeContent{
    transform: scale(70%);
    /*background: #ffefc4f6;*/
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 15%;
    margin-top: 5.5%;
    padding: 0 0px;
    /*margin-bottom: 10%;*/
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0px;
}

@media (min-width: 1025px) and (max-width: 1980px) {
    .CakeContent {
        transform: scale(50%);
        grid-template-columns: 20% 50%;
        margin-bottom: 10%;
        grid-gap: 15%;
        margin-left: 15%;
        margin-top: 10%;
    }
}

@media (max-width: 1024px) {
    .CakeContent {
        grid-template-columns: 50% 50%;
        margin-top: -10%;
        grid-gap: 5%;
        margin-left: 1%;
        margin-right: 2%;
    }
}