.CakeContent{
    transform: scale(70%);
    /*background: #ffefc4f6;*/
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 15%;
    margin-top: 10%;
    padding: 0 0px;
    /*margin-bottom: 10%;*/
    /*margin-left: 5%;
    margin-right: 5%;*/
    margin-bottom: 0px;
}

@media (max-width: 1280px) {
    .CakeContent {
        transform: scale(70%);
        grid-template-columns: 50% 50%;
        margin-top: 10%;
        grid-gap: 20%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 980px) {
    .CakeContent {
        grid-template-columns: 60% 60%;
        margin-top: -15%;
        grid-gap: 5%;
        margin-left: 0%;
        margin-right: 0%;
    }
}