body {
    overflow-x:hidden;
    /*overflow-x: hidden;
    overflow-y: hidden;*/
    background: url("back.svg") top left repeat scroll;
    margin-top: 4.5%;

  }
  .header{
    background: url("honey.svg") center left repeat-x scroll;
    height: 110px;
    text-align: center;
    text-transform: uppercase;
    color: #7a180d;
    font-weight: 700;
    font-family: "Amatic SC", cursive;
    font-size: 4vw;
    margin: -5%;
    padding: 1.6%;
  }