body {
    overflow-x:hidden;
    /*overflow-x: hidden;
    overflow-y: hidden;*/
    /*background: url("back.svg") top left repeat scroll;
    background-size: 100% auto;*/
    margin-top: 4.5%;

  }
  .header{
    background: url("honey.svg") top left repeat-x scroll;
    background-size: 78% auto;
    height: 110px;
    text-align: center;
    text-transform: uppercase;
    color: #7a180d;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 4vw;
    margin: -5%;
    padding: 1.6%;
  }

  @media (min-width: 1980px) {
    .header {
      background-size: 63% auto;
    }
  }

  @media (max-width: 1979px) {
    .header {
      background-size: 63% auto;
    }
  }