body {
  width: 1439px;
  /*overflow-y: hidden;*/
  background: #FFA4E7 url("back.svg") repeat;
  background-size: 30% auto;
  margin-top: 4.5%;
}
.header{
  background: url("honey.svg") repeat-x top;
  height: 110px;
  text-align: center;
  text-transform: uppercase;
  color: #7a180d;
  font-weight: 700;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  margin: -5%;
  padding: 15px 5px;
}